# Compilación
bin/
obj/
out/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.vscode/
TestResults/

# Archivos temporales
*.log
*.pdb
*.cache
*.tmp
*.bak
*.old
*.dbmdl
*.tlog

# Sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains
.idea/
*.dcvr

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/

# Archivos de control de código fuente antiguos
*.vspscc
*.vssscc
*.ncb
*.aps
*.sdf
*.opensdf

# launchSettings
!Properties/launchSettings.json

# No ignorar ejecutables manuales
!*.exe
